.res-card {
    background-color: white;
    border: 4px solid teal;
    text-align: center;
    margin: auto;
    color: teal;
    width: 300px;
    margin: 20px;
    padding: 15px;
}

.guest-name {
    font-weight: bold
}

